.content {
  display: flex;
  margin: 0 auto;
  max-width: 2000px;
  background-color: rgb(18, 18, 18);
}
.detail {
  flex: 1 1 70%;
}

.list {
  flex: 1 1 30%;
}

@media screen and (max-width: 64rem) {
  .content {
    flex-direction: column;
  }
}
